body {
  background-color: cornsilk;
}
header {
  flex-direction: column;
  margin: 4px;
  margin-bottom: 12px;
  padding: 4px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  border-radius: 20px;
}
main {
  margin-bottom: 12px;
  margin: 4px;
}
img {
  width: 100%;
  margin: auto;
  border-radius: 20px;
}
a:link,
a:visited {
  color: black;
}
a {
  font-size: 1.3em;
}

header,
.headerBlock1,
.headerBlock2,
.input-icon-Block,
.bildgalleri,
.bild-flex1,
.bild-flex2 {
  display: flex;
}
.headerBlock1,
.headerBlock2 {
  flex-direction: column;
  padding: 6px;
}
input {
  width: 98%;
  outline: none;
  background: transparent;
  border: none;
  margin: 4px;
}
.input-icon-Block {
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
  gap: 8px;
  padding-left: 8px;
  margin: 6px;
}
.search {
  margin-right: auto;
  flex-grow: 1;
  border-radius: 20px;
  border: 1px solid black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
@media (min-width: 640px) {
  .headerBlock2 {
    flex-direction: row;
    flex-grow: 1;
    gap: 10px;
  }
  header img,
  .search {
    max-width: 300px;
  }
  input {
    font-size: 1.1em;
  }
  .headerBlock1 {
    flex-direction: row;
    flex-grow: 1;
  }
  .icon {
    margin: 4px;
    font-size: 1.3em;
  }
}
